* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
section{
}

.mycontainer {
    width: 100%;
    margin: 0 auto;
}
body>h2{
    text-align: center;
    color: red;
    font-size: 2em;
}
 
 section > h2 {
        text-align: right;
        margin: 0px;
     
 }

h2 > span {
        border-bottom: 1px solid black;
        border-left: 1px solid black;  
        padding: 0 10px 0 10px;
}

p {
    padding: 5px;
}

.box1 > h2 > span {
    background-color: yellow;
    text-align: right;
}

.box2 > h2 > span {
    background-color: aqua;
    text-align: right;
}

.box3 > h2 > span {
    background-color: chartreuse;
    text-align: right;
}

.box1, .box2, .box3 {
    background: #e5e5e5;
    border: 1px solid #000;
    
}

@media (min-width: 992px){
    .box1, .box2, .box3 {
    width: 33%;
    display: inline-block;
    min-height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .box1 {
        width: 49%;
        display: inline-block;
        position: relative;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    
    .box2 {
        width: 49%;
        float: right;
        position: relative;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .box3 {
        margin-top: 5px;
        margin-left: 5px;
        width: 99%;
    }
}

@media (max-width: 767px){
    section {
        margin-bottom: 5px;
    }
    
    p {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 2em;
    }
}